<h1>New Order</h1>
<hr>
<%= form_for @order do |f| %>
  <%= f.text_field :name, placeholder: 'NAME' %>
  <%= f.text_field :address, placeholder: 'ADDRESS' %>
  <%= f.select :payment_method, %w[Credit ATM] %>
  <%= f.submit %>
<% end %>