<h1><%= @product.name %></h1>
<hr>
<dl>
  <dt>Description</dt>
  <dd><%= @product.description %></dd>
  <dt>Price</dt>
  <dd><%= @product.price %></dd>
  <dt>Stock</dt>
  <dd><%= @product.stock %></dd>
</dl>

<%= form_for @line_item do |f| %>
  <%= f.number_field :quantity %>
  <%= f.hidden_field :product_id %>
  <%= f.submit 'Add to Cart' %>
<% end %>